@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
    box-sizing: border-box;

    padding: 0;
    margin: 0;
    /* background-image: url(image/pdw\ blur.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
     */
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}
/* color palette #3B413C #94D1BE */

.to-top{
    position: fixed;
    color: white;
    background-color:#3B413C;
    opacity: 0.5;
    right: 0;
    bottom: 0;
    margin: 25px;
    padding: 5px 10px; 
    font-size: xx-large;
    border-radius: 3px;
}


.to-top:hover{
    color: #4b534c;
    background-color: rgb(154, 197, 184);
    opacity: 1;
    transition: 0.2s;
    font-size: xx-large;
}

.header{
    width: auto;
    height: 550px;
    background-image:linear-gradient(to bottom,rgba(36, 39, 36, 0.5)70%, rgb(33, 36, 33)100%),url('image/pandawa.jpg');
    background-size: cover;
}

.navbar-container{
    width: fit-content;
    margin: auto;
    padding-top: 30px;
}

.navbar-container a{
    color: white;
    opacity: 0.7;
    margin:0px 20px;
    
}

.home {
    float: right;
    color: white;
    opacity: 0.7; 
    padding: 35px 0 0 0;
    margin-right: 40px;
}


.active{
    color: white;
    border-bottom: 2pt solid white ;
    font-weight: bolder;
    opacity: 1;
    margin: 0 20px;
}

.navbar a:hover{
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: 0.3s;
    border-bottom: 2pt solid white ;
}
/* header end */

/* main */

.foto-container{
    justify-content: center;
    display: flex;  
}

.foto {
    height: auto ;
    width: 720px;
    background-color: red;
    margin: 0 10px;
}

.heading{
    
    height:80px ;
    width: 600px;
    text-align: center;
    color: white;
    text-align: center;
    margin: auto;

}


.heading h1{
    font-size: 52px;
    font-weight: 200;
    margin-top:150px;
    padding: 0;
    margin-bottom: 0;   
}

.heading span{
    font-weight:600;
}

.sosmed{
    height: auto;
    float: right;
    width: 10px;
    margin-right: 20px;
    margin-top: 50px;
}
.logosos{
    margin-top: 10px;
    float: right;
    width: 40px;
    height: auto;
}

.main{
    height: auto;
 

}

.main-foto{
    background-image: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.4));
    height: 350px;
    margin: 0 50px;
    
}

.main h1{
    margin: 50px 0 25px 50px ;
    border-bottom: 5px solid red;
    width: 300px;
    padding: 5px;
}

.shape{
    background-image: url('image/depan\ sekolah.jpg');
    background-size: cover;
    background-position: center;
    height:  80%;
    width: 400px;
    margin:30px;
    float: left;
    display: block;
    position: relative;
}

.main-image{
    overflow: hidden;
    width: 400px;
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    color: white; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    opacity: 0;
}

.image-overlay:hover{
    opacity: 1;
    transition: 0.3s;
}


.image-title{
    font-size:xx-large;
    font-weight: bolder;
}

.title h1{
    width: 30%;
    text-align: center;
    margin: auto;
    margin-top: 50px;

}

.container{
    margin:50px 40px 0 40px;
}

.container .box{
    display: flex;
    flex-direction: row ;
    justify-content: space-between; 
}

.container .box-img{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .box-img img{

    width: 100%;
    padding-bottom: 15px;

}

